[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-watch = "*"

[packages]
flask = "*"
selenium = "*"
prompt-toolkit = "*"
toml = "*"
structlog = "*"
iexfinance = "*"
ccxt = "*"
peewee = "*"
click = "*"
fuzzyfinder = "*"

[requires]
python_version = "3.6"
