html {
    overflow-y: hidden;
    height: 100%;
}

body {
    background-color: #0f0f0f;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #eee;
    height: 100%;
    margin: 0;
}

#content {
    z-index: 250;
    width: 100%;
    position: relative;
    float: left;
    clear: both;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
}


#content section {
    position: relative;
    float: left;
}

#content iframe {
    width: 100%;
    height: 100%;
    border: none;
}
